<H1>This is the new game page<H1>

<H2>These are your letters<H2>
  <p>............................................<p>
  <ul>
    <% @letters.each do |letter|%>
    <li> <%= letter.upcase %> <li>
   <% end %>
  <ul>
  <p>............................................<p>

<form action="/score" method="POST" data-turbo="false">
 <label> Please enter your suggestion here </label>
  <input type="text" name="word">

  <input> type= "hidden" name = "letters" value="<% @letters%>"
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>